@import "./shared/foundation/functions";
@import "./shared/common";

.t-header {
  font-size: rem-calc(36);
  height: rem-calc(90);
  line-height: rem-calc(90);
  text-align: center;
  background: #fff000;
}

.t-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: rem-calc(89);
  margin: 0;
  background: #fff;
  border-top: 1px solid #d7d7d7;
  z-index: 2147483647;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  .t-blur {
    display: none;
    img {
      width: rem-calc(44);
      margin: rem-calc(0 20 0 25);
    }
    span {
      color: #999;
      font-size: rem-calc(30);
    }
  }
  .t-focus {
    width: 100%;
    input {
      width: percentage(600/700);
      height: rem-calc(60);
    }
  }
}
