<!DOCTYPE html>
<html>
  <head>
    {{> metas}}
    <title>零食家</title>
    {{> styles}}
    <link rel="stylesheet" href="/styles/comment.css">
    {{> flexible}}
  </head>

  <body>
    <h1 class="t-header">
      评论
    </h1>
    <div class="t-footer">
      <div class="t-blur">
        <img src="/images/comment/write.png" alt="">
        <span>立即评论...</span>
      </div>
      <div class="t-focus">
        <input type="text">
        <span>评论</span>
      </div>
    </div>
    {{> scripts}}
    <script src="/scripts/comment.js"></script>
  </body>
</html>
