<!DOCTYPE html>
<html class="no-js">
<head>
  {{> metas}}
  <title>{{title}}</title>
  {{> styles}}
  <link rel="stylesheet" href="/styles/detail.css">
  {{> flexible}}
</head>

<body>

{{> scripts}}
<script src="/scripts/detail.js"></script>
</body>
</html>
