<!DOCTYPE html>
<html>
    <head>
        #parse('/shared/metas.vm')
        <title>${title}</title>
        #parse('/shared/styles.vm')
        <link rel="stylesheet" href="/styles/home.css">
        #parse('/shared/flexible.vm')
    </head>

    <body data-reportid="1111">

        <h1>${info}</h1>

        #parse('/shared/scripts.vm')
        <script src="/scripts/home.js"></script>
    </body>
</html>
