<!DOCTYPE html>
<html>
  <head>
    {{> metas}}
    <title>零食家</title>
    {{> styles}}
    <link rel="stylesheet" href="/styles/home.css">
    {{> flexible_sv}}
  </head>

  <body data-reportid="1111">
    <h1 class="t-header">
      试吃报告
    </h1>
    <div class="t-banner">
      <img src="http://img02.taotaosou.cn/size/image6/M04/02/FA/wKgDtFUw1YYIAAAAAAB8ZvhzGhUAAioqwCZnwIAAHx-969.jpg" alt="" /> 
    </div>
    <div class="t-article">
      <!-- 富文本 -->
      <p style="font-size:14px;font-family:'Microsoft YaHei',  u5FAEu8F6Fu96C5u9ED1, Arial, SimSun, u5B8Bu4F53;">
              “一带一路”路线图发布了，亚投行创始成员也确定了，第一批项目在 哪里呢？外界此前预计有“巴铁”之称的巴基斯坦将成为“一带一路”开局的样 板，种种信号表明，“中巴经济走廊”将会成为“旗舰项目”。<span  style="line-height:1.5;">&nbsp;昨天和今天，巴基斯坦和中国正式发布中国 国家主席将访问巴基斯坦的消息。中国外交部发言人陆慷今天宣布：应巴基斯坦 伊斯兰共和国总统侯赛因和总理谢里夫邀请，国家主席习近平将于4月20日至21 日对巴基斯坦进行国事访问。</span> 
      </p>
      <p style="font-size:14px;font-family:'Microsoft YaHei',  u5FAEu8F6Fu96C5u9ED1, Arial, SimSun, u5B8Bu4F53;">
                &nbsp; &nbsp; &nbsp;应印度尼西亚共和国总统佐科邀请，国家主席习 近平将于4月21日至24日赴印尼出席亚非领导人会议和万隆会议60周年纪念活动 。
      </p>
      <!-- 富文本 -->
    </div>
    <!-- 富文本插入片段 -->
    <div class="t-template">
      <div class="t-img">
        <a href="http://m.taobao.com"><img src="http://placehold.it/180x180" alt=""></a>
      </div>
      <div class="t-detail">
        <p class="t-title">
          <a href="http://m.taobao.com">海外集货包邮 进口零食 台湾直邮原装进口嘉德凤梨酥12</a>
        </p>
        <p class="t-more">
          <span class="t-price"><em>&yen;</em>4.50</span>
          <span class="t-source">淘宝</span>
        </p>
      </div>
    </div>
    <!-- 富文本插入片段 -->
    <h2 class="t-shichi-hd">
      <em></em>相关试吃报告
    </h2>
    <div class="t-shichi-bd">
      <ul>
        <li>
          <a href="http://m.taobao.com"><img src="http://placehold.it/220x220" alt=""></a>
          <p><a href="http://m.taobao.com">吃格力高 百奇图层装饰饼干报告</a></p>
        </li>
        <li>
          <a href="http://m.taobao.com"><img src="http://placehold.it/220x220" alt=""></a>
          <p><a href="http://m.taobao.com">吃格力高 百奇图层装饰饼干报告</a></p>
        </li>
        <li>
          <a href="http://m.taobao.com"><img src="http://placehold.it/220x220" alt=""></a>
          <p><a href="http://m.taobao.com">吃格力高 百奇图层装饰饼干报告</a></p>
        </li>
      </ul>
    </div>
    <div class="t-status">
    </div>
    {{> scripts}}
    <script src="/scripts/home.js"></script>
  </body>
</html>
