<!DOCTYPE html>
<html>
<head>
  {{> metas}}
  <title>{{title}}</title>
  {{> styles}}
  <link rel="stylesheet" href="/styles/home.css">
  {{> flexible}}
</head>

<body data-reportid="1111">

{{> scripts}}
<script src="/scripts/home.js"></script>
</body>
</html>
