<!DOCTYPE html>
<html class="no-js">
<head>
  {{> metas}}
  <title>零食家</title>
  {{> styles}}
  <link rel="stylesheet" href="/styles/list.css">
  {{> flexible}}
</head>

<body>
<div class="wrap">
  <section class="banner">
    <img src="http://placehold.it/750x240/ff334d" alt=""/>
  </section>

  <section class="column-wrap clearfix">
    <ul class="ul">

    </ul>
    <ul class="ul">

    </ul>
  </section>

</div>
{{> scripts}}
<script src="/scripts/list.js"></script>
</body>
</html>
