<!DOCTYPE html>
<html class="no-js">
<head>
  {{> metas}}
  <title>react</title>
  {{> styles}}
  {{> flexible}}
</head>

<body>
{{> scripts}}
<script src="/scripts/react_test.js"></script>
</body>
</html>
